.canvas {
  border: 1px solid lightgrey;
}

.canvasWrapper {
  position: relative;
}
.canvasControls {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 40;
  display: flex;
  align-items: center;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.canvasBtn {
  color: white;
  background: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
  border-radius: 6px;
  outline: none;
}
