.note,
.activeNote,
.currentNote {
  width: 50%;
  height: 100%;
  border: 1px solid gray;
  cursor: pointer;
}

.activeNote {
  background-color: slateblue;
}

.currentNote {
  background-color: green;
}
