.container {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  z-index: 2;
  background-color: #313131;
  div {
    display: flex;
    align-items: center;
  }
}
