.container {
  position: relative;
}

.trackInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 18%;
  padding: 0 1%;
  border-right: 1px solid gray;
  background-color: #313131;
  button {
    border: none;
    background: none;
    padding: 0rem;
    outline: none;
    width: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    justify-self: flex-end;
    font-size: 0.5rem;
  }
}

.trackContainer {
  border-bottom: 1px solid gray;
  display: flex;
}

.trackSteps {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trackControls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.options {
  width: 240px;
  background-color: #313131;
  position: absolute;
  top: 100%;
  z-index: 2;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  overflow: visible;
  label {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    display: block;
  }

  button {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  input[type="range"] {
    width: 100%;
  }
}

.formRow {
  margin-bottom: 1rem;
  width: 100%;
}

.offNotes,
.onNotes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.onNotes {
  background-color: #212121;
}

.offNotes {
  background-color: #313131;
}
